<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notatnik
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-textarea rows="12" cols="20" placeholder="Wpisz tutaj treść notatki..." [(ngModel)]="notesContent"></ion-textarea>
  </ion-item>
  <ion-button (click)="doSaveNotes()">Zapisz zmiany</ion-button>
  <p>Ostatnio edytowano: {{ (previousEdit != '') ? (previousEdit | date: 'yyyy-LL-dd HH:mm:ss') : ('(nigdy)') }}</p>
</ion-content>