<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Historia edycji
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <div slot="start">

      </div>
      <div>
        Data edycji
      </div>
      <div slot="end">
        Różnica
      </div>
    </ion-item>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="'paper-plane'" slot="start"></ion-icon>
      {{ item.editedAt | date: 'yyyy-LL-dd HH:mm:ss' }}
      <div class="item-note" slot="end">
        {{ item.charDiff >= 0 ? '+' + item.charDiff.toString() : item.charDiff.toString() }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>