<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Logowanie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Login</ion-label>
    <ion-input [(ngModel)]="user.login"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Hasło</ion-label>
    <ion-input [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-button (click)="doLogin()">Zaloguj się</ion-button>
  <!-- <ion-button>Nie pamiętam hasła</ion-button> -->
</ion-content>