<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/notepad.svg" alt="notepad" />
      <ion-card-header>
        <ion-card-subtitle>Witaj w aplikacji</ion-card-subtitle>
        <ion-card-title>eNotatnik</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplikacja eNotatnik umożliwia tworzenie, przechowywanie on-line oraz synchronizację Twoich notatek.</p>
      </ion-card-content>
    </ion-card>

</ion-content>
